<mat-card>
    <h1>Add New Comment</h1>
    <div class="container">
        <mat-icon style="font-size: 50px;" class="mt20" (click)="goBack()">arrow_back</mat-icon>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form (ngSubmit)="addCommet()">

                  <!-- <div class="row">
                      <div class="col-md-10">
                          <h3>Product Name : Hello </h3> 
                          <h3>Product Brand : Hello  </h3> 
                      </div>
                  </div> -->

                    <div class="row">
                        <div class="col-md-12">
                            <!-- number of questions display -->
                            <mat-form-field class="w100" appearance="fill">
                                <mat-label>Details</mat-label>
                                <textarea  [(ngModel)]="commentData.message" name="message" placeholder="Enter here"
                                    rows="7" matInput required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                 
                    <div class="mt10 text-center">
                        <button mat-raised-button color="accent">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>