<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-3 mt20">
                <mat-card>
                    <div class="text-center">
                        <img src="../../../assets/signup.jpg" alt="signup" height="70" width="70">
                    </div>
                    <h1 class="text-center">Register Here !!</h1>

                    <form (ngSubmit)="formSubmit()">
                        <!-- user name feild -->
                        <p>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>User Name</mat-label>
                                <input matInput [(ngModel)]="user.username" name="username" placeholder="Enter here"
                                    required>
                                <mat-hint>User name must be unique !!</mat-hint>
                            </mat-form-field>
                        </p>

                        <!-- first name feild -->
                        <p>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>First Name</mat-label>
                                <input matInput [(ngModel)]="user.firstName" name="firstName" placeholder="Enter here"
                                    required>
                            </mat-form-field>
                        </p>
                        <!-- last name feild -->
                        <p>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput [(ngModel)]="user.lastName" name="lastName" placeholder="Enter here"
                                    required>
                            </mat-form-field>
                        </p>
                        <!-- email feild -->
                        <p>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Email</mat-label>
                                <input matInput [(ngModel)]="user.email" name="email" type="email"
                                    placeholder="Enter here" required>
                            </mat-form-field>
                        </p>
                        <!-- phone number feild -->
                        <p>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Phone</mat-label>
                                <input matInput [(ngModel)]="user.phone" name="phone" type="number"
                                    placeholder="Enter here" required>
                            </mat-form-field>
                        </p>
                        <!-- password feild -->
                        <p>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Password</mat-label>
                                <input matInput [(ngModel)]="user.password" name="password" type="password"
                                    placeholder="Enter here" required>
                            </mat-form-field>
                        </p>
                        <div class="container text-center">
                            <button mat-raised-button type="submit" color="primary">Register</button>
                            <button type="reset" style="margin-left: 20px; margin-bottom: 20px;" mat-raised-button
                                color="accent">Reset</button>
                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>

</div>