<div class="img">

    <div style="margin-top: 44%;margin-left: 28%;">
        <mat-icon style="font-size: 50px;">group</mat-icon><span
            style="font-size: 40px;margin-left: 15px;margin-top: -20px;">
            {{users}}
        </span> <br><b style="margin-left: 6%;">Members</b>
    </div>
    <div style="margin-top: -7%;margin-left: 65%;">
        <mat-icon style="font-size: 50px;">post_add</mat-icon><span
            style="font-size: 40px;margin-left: 15px;margin-top: -20px;">
            {{products}}
        </span> <br><b style="margin-left: 13%;">Products</b>
    </div>
    <div style="margin-top: -7%;margin-left: 80%;">
        <mat-icon style="font-size: 50px;">rate_review</mat-icon><span
            style="font-size: 40px;margin-left: 15px;margin-top: -20px;">
            {{comments}}
        </span> <br><b style="margin-left: 23%;">Comments</b>
    </div>

</div>